name: Deloy no Kubernetes
on:
    workflow_call:
        inputs:
          environment-name:
            type: string
            required: true
          environment-url:
            type: string
            required: true
jobs:
    # ... (código anterior)

    deploy:
        name: "Deploy"
        runs-on: ubuntu-latest
        # ...
        steps:
            - name: Obtendo o código
              uses: actions/checkout@v6
            
            - name: Configuração do Conext
              uses: azure/k8s-set-context@v4
              with:
                method: kubeconfig
                kubeconfig: ${{ secrets.K8S_CONFIG }}
            
            - name: Update Deployment (Sed)
              run: "sed -i 's/host: homologacao.leosimao88.com/host: ${{ vars.BASE_URL }}/g' k8s/deployment.yaml"

            # -------------------------------------------------------------------
            # NOVAS ETAPAS SUBSTITUINDO O AZURE/K8S-DEPLOY
            # -------------------------------------------------------------------
            
            - name: Aplicar Manifestos (Ignorando Erro de DNS)
              run: |
                kubectl apply -f k8s/deployment.yaml \
                --namespace ${{ secrets.K8S_NAMESPACE }} \
                --validate=false

            # Se a imagem precisa ser atualizada, use um comando específico:
            - name: Update Deployment Image
              run: |
                kubectl set image deployment/review-filmes-deployment \
                review-filmes-container=leosimao88/projeto-devops-pro:v${{ github.run_number }} \
                --namespace ${{ secrets.K8S_NAMESPACE }}
            # OBS: Altere "review-filmes-deployment" e "review-filmes-container" se seus nomes forem diferentes.